<! from lecture 31 />
<div class="jumbotron">
  <div class="container">
  <h1>Handcrafted items from <br> 
    around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>
</div>

<div class="left">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-sm-4 col-md-3">
         <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>

          <div class="caption">
            <h4><%= listing.ame %></h4>
             <h6><%= listing.description %></h6>
            <p><%= number_to_currency(listing.price) %></p>
            <p><h6><%= "Sold by: #{listing.user.name }" %></h6></p>

            <% if (user_signed_in?) && (current_user == listing.user) %>

           <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, Class: "btn btn-default"  %>
<% end %>
